header {
  padding: var(--lluai-xs) var(--lluai-s);
  display: flex;
  align-items: center;
  gap: var(--lluai-m);
  border-bottom: 1px solid var(--lluai-border-color);
}

header span {
  display: none;
}

header section {
  display: flex;
  gap: var(--lluai-s);
  justify-content: flex-end;
  flex-grow: 1;
}


@media(min-width: 670px) {
  header span {
    display: block;
  } 
}
header span {
  font-size: var(--lluai-text-small);
  flex-grow: 1;
}