* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: var(--lluai-lineheight-base);
  font-size: var(--lluai-text-base);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: var(--lluai-foreground);
  background: var(--lluai-bg_primary);
}
body {
  display: flex;
  justify-content: center;
}
main {
  padding: 1.5rem;
  max-width: 1000px;
  width: 100%;
}
h1, h2, h3, p {
  margin-top: 0;
} 

h1 {
  font-size: var(--lluai-text-title);
}

h2 {
  font-size: var(--lluai-text-subtitle);
}

p {
  margin-bottom: var(--lluai-m);
}

.mb-0 {
  margin-bottom: 0;
}

lluai-card img {
  max-width: 100%;
}

lluai-card {
  margin-bottom: 1rem;
}

.form {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.form lluai-input {
  flex-grow: 1;
}

lluai-card {
  max-width: 330px;
}

lluai-card.card-expand {
  max-width: none;
  --lluai-card-title-color: #21e6f8ff;
}

.myicon {
  color: var(--lluai-accent_2);
}
