* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: var(--lluai-lineheight-base);
  font-size: var(--lluai-text-base);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: var(--lluai-foreground);
  background: var(--lluai-bg_primary);
}
body {
  display: flex;
  justify-content: center;
}
main {
  padding: 1.5rem;
  max-width: 1000px;
  width: 100%;
}
h1, h2, h3, p {
  margin-top: 0;
} 

h1 {
  font-size: var(--lluai-text-title);
}

h2 {
  font-size: var(--lluai-text-subtitle);
}

p {
  margin-bottom: var(--lluai-m);
}

.mb-0 {
  margin-bottom: 0;
}

lluai-card img {
  max-width: 100%;
}

lluai-card {
  margin-bottom: 1rem;
}

.form {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.form lluai-input {
  flex-grow: 1;
}

lluai-card {
  max-width: 330px;
}

lluai-card.card-expand {
  max-width: none;
  --lluai-card-title-color: #21e6f8ff;
}

.myicon {
  color: var(--lluai-accent_2);
}

.nav {
  --lluai-icon-size: 32px;
  --lluai-icon-color: var(--lluai-accent_2);
  --lluai-icon-rounded-padding: 0.5rem;
}
.nav .accent1 {
  --lluai-icon-color: var(--lluai-accent_1);
  --lluai-icon-size: 24px;
}

.supericon {
  --lluai-icon-size: 90px;
  --lluai-icon-stroke-width: 1px;
}
.nav .dark {
  --lluai-icon-color: var(--lluai-accent_1);
  --lluai-icon-rounded-background-color: #f84343ff;
  --lluai-icon-rounded-padding: 1rem;
}

.flex-center {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem;
  background-color: #393;
  --lluai-icon-color: #fff;
}


.roudedhover {
  --lluai-icon-color: #fff;
  --lluai-icon-rounded-background-color: #121bc1ff;
}

.roudedhover:hover {
  --lluai-icon-rounded-background-color: #0e3645ff;
  --lluai-icon-color: #e4f833ff;
}

.buscador {
  --lluai-icon-color: var(--lluai-accent_1);
}